/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */
:root {
    --color1: #FFFFFF;
    --color2: rgb(0, 0, 0);
    --color3: rgba(0, 0, 0, 0.4);
    --color4: rgba(255, 255, 255, 0.2);
    --color5: rgb(255, 0, 0);
    --color6: rgba(0, 0, 0, 0.251);
    --color7: hsla(0, 100%, 50%, 0.302);
    --color8: rgba(255, 255, 255, 0.161);
    --color9: #6A6A6A;
    --color10: #28272C;
    --color11: #B2B2B2;
    --color12: #D1D1D1;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    width: 1088px;
    display: flex;
    justify-content: space-between;
}



/* style - head */
.page-header {
    width: 100%;
    height: 90px;
    background-color: var(--color3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.page-header .container {
    height: 100%;
    align-items: center;
}

.page-logo {
    display: flex;
    align-items: center;
    font-size: 35px;

}

.page-logo-text {
    /* font-family: 'Nunito Sans', sans-serif;
    font-weight: 800; */
    color: var(--color1);
}

.page-logo-text span {
    color: var(--color5);
    padding-left: 5px;
}

.page-nav-list {

    list-style: none;
    display: flex;
    align-items: center;
}

.page-nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    text-decoration: none;
    color: var(--color1);
    text-transform: uppercase;
    padding: 35px;

    /* font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 800; */
    transition: .2s;
}

.page-nav-list a:hover {
    background-color: var(--color4);
    cursor: pointer;
}

/* Style banner */

.banner {
    position: relative;
    width: 100%;
    height: calc(100vh - 27px);
    background-image: url(../assets/Image.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color2);
    opacity: 30%;

}

.banner::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translatex(-50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color5);
    background-image: url(../assets/Icon\ Arrow\ Down.svg);
    background-repeat: no-repeat;
    background-position: center;

}



.banner .container {
    /* display: flex; */
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.banner-title {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-size: 90px;
    font-weight: 900;
    color: var(--color1);
}

.banner-text {
    /* font-size: 16px; */
    color: var(--color1);
    margin: 30px 0;
}

.banner-container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn {

    display: block;
    padding: 22px 55px;
    border-radius: 50px;
    text-decoration: none;
    /* font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 16px; */
    margin: 0 20px;
}

.banner-btn:first-child {
    background-color: var(--color5);
    color: var(--color1);
}

.banner-btn:last-child {
    background-color: var(--color1);
    color: var(--color5);
}


/* Style blog */


.title {
    text-align: center;
    /* font-family: 'Nunito Sans', sans-serif; */
    font-size: 35px;
    /* font-weight: 800; */
    color: var(--color2);
    padding: 90px 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title::after,
.title::before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--color5);
}

/* .blog .container {
    display: flex;
    justify-content: space-between;
} */


.blog-article {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: var(--color9);
}

/* stylowanie article */
.article-title {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-size: 19px;
    padding: 24px 0 15px;
    font-weight: 400;
}

.article-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0;
}

.article-btn {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-size: 14px;
    /* font-weight: 800; */
    background-color: var(--color5);
    text-decoration: none;
    color: var(--color1);
    border-radius: 50px;
    padding: 10px 30px;
    align-self: flex-start;
    margin-bottom: 100px;
}


/* Style service + acticle service */

.service {
    background-color: var(--color10);
}

.service .title {
    color: var(--color1);
    padding: 60px 0 35px;
}

.service-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.service .article-btn {
    align-self: center;
}

.service .article-text,
.service .article-title {
    color: var(--color1);
    text-align: center;
}

/* style contact */

.contact img {
    align-self: flex-start;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;

}

.contact input,
.contact textarea {
    border-radius: 8px;
    border: 1px solid var(--color12);
    margin-bottom: 20px;
    padding: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

.contact textarea {
    height: 140px;
}

.contact input {
    height: 38px;
}

.contact input::placeholder,
.contact textarea::placeholder {
    color: var(--color11);
}

.contact input:focus,
.contact textarea:focus {
    padding: 12px;
    /* font-family: 'Nunito Sans', sans-serif;
    font-size: 16px; */
    font-weight: 400;
    border: 1px solid var(--color5);
    box-shadow: 0px 1px 6px var(--color7);
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    cursor: pointer;
    display: flex;
    color: var(--color11);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}

.checkbox span {
    height: 22px;
    flex-basis: 22px;
    flex-shrink: 0;
    border: 1px solid var(--color12);
    cursor: pointer;
    margin-right: 15px;
    border-radius: 8px;
}

.checkbox input:checked+span {
    background-image: url(../assets/Icon\ Check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px;
    background-origin: content-box;
}

.contact-btn {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-size: 14px;
    /* font-weight: 800; */
    text-decoration: none;
    border: 1px solid var(--color12);
    color: var(--color11);
    background-color: white;
    border-radius: 50px;
    padding: 10px 30px;
    align-self: flex-end;
    margin-bottom: 100px;
    cursor: pointer;
}

.contact-btn:hover {
    border: 1px solid var(--color5);
    color: var(--color5);
    box-shadow: 0px 3px 6px var(--color7);
}

/* style -footer */

.page-footer {
    background-color: var(--color10);
    height: 230px;
}

.container-list a {
    text-transform: uppercase;
    color: var(--color1);
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.5;
}

.container-list a:hover {
    color: var(--color5);
}

.page-footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.container-list {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-top: 25px;

}

.footer-text {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-size: 12px;
    font-weight: 300;
    color: var(--color12);
    align-self: flex-end;
}